.navbar{
    background-color: #352870; 
    padding: 20px;
}

.navbar-item, .navbar-link {
    color: #fff;

}
a.navbar-item:hover {
    background-color: #66C9D7;
    color: #fff;
}
.navbar-menu.is-active{
    background-color: #352870;
    color: #fff;
}

/* HEADER / NAVBAR STYLES END */

