body {
    font-family: 'Roboto', sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family:'Josefin Sans', sans-serif;
  }

.navbar{
    background-color: #352870; 
    padding: 20px;
}

.navbar-item, .navbar-link {
    color: #fff;

}
a.navbar-item:hover {
    background-color: #66C9D7;
    color: #fff;
}
.navbar-menu.is-active{
    background-color: #352870;
    color: #fff;
}

/* HEADER / NAVBAR STYLES END */

.navbar-burger {
    color: #66C9D7;
}

.navbar-burger:hover{
    color: white;
}

/* User location map */
.user-location-map {
    height: 500px;
    width: 100%;
    margin: auto;
}

#bottom-border {
    background-color:#352870;
    width: 100%;
    height: 10px;
}

#Save-Hotel {
    border: none;
    font-size: 20px;
    color: white;
    background-color:#352870;
    width: 100%;
    padding: 0px;
    height: 50px;
    margin-bottom: 30px;
}
#Save-Hotel:hover {
    background-color:#66C9D7;
    color: white;
}

.columns {
    width: 85%;
    margin-left: 5%;
}

.column {
    margin-top: 30px;
}
#locations-panel-list .location-result h2.name {
    font-size: 16pt;
    font-weight: 700;
    color:#66C9D7;
}
#locations-panel-details h2 {
    font-size: 16pt;
    font-weight: 700;
}
#locations-panel-list h1.search-title {
    font-size: 18pt;
    font-weight: 700;
    color: #352870;
}
#Save-Hotel:hover {
    background-color:#66C9D7;
    color: white;
}
/* end  User location map */

/* DESCRIPTION */

.description {
    text-align: center;
}

/* END DESCRIPTION */

/* FOOTER */

footer {
    text-align: center;
    margin-top: 100px;
    padding-bottom: 20px;
}

/* END FOOTER */

/* cards style */
.card {
    background-color: #66C9D7;
    padding: 20px;
    color: #000;
}
