body {
    font-family: 'Roboto', sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family:'Josefin Sans', sans-serif;
  }

.navbar{
    background-color: #352870; 
    padding: 20px;
}

.navbar-item, .navbar-link {
    color: #fff;

}
a.navbar-item:hover {
    background-color: #66C9D7;
    color: #fff;
}
.navbar-menu.is-active{
    background-color: #352870;
    color: #fff;
}

/* HEADER / NAVBAR STYLES END */

/* User location map */
.user-location-map {
    height: 400px;
    width: 50%;
    border: 3px solid #024e76;
    margin: auto;
}
/* end  User location map */

/* DESCRIPTION */

.description {
    text-align: center;
}

/* END DESCRIPTION */